<div>
    <div>
        <div class="row">
            <div class="col-xs-4">
                <h2 translate="21pointsApp.bloodPressure.home.title">BloodPressures</h2>
            </div>
            <div class="col-xs-8 text-right" style="margin-top: 20px;">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{'entity.action.search' | translate}}">
                        <button class="btn btn-info" ng-click="search()" uib-tooltip="{{'entity.action.search' | translate}}"><span class="glyphicon glyphicon-search"></span></button>
                        <button class="btn btn-primary" ui-sref="bloodPressure.new" uib-tooltip="{{'entity.action.new' | translate}}"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <jh-alert></jh-alert>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="timestamp"><span translate="21pointsApp.bloodPressure.timestamp">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="systolic"><span translate="21pointsApp.bloodPressure.systolic">Systolic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="diastolic"><span translate="21pointsApp.bloodPressure.diastolic">Diastolic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="21pointsApp.bloodPressure.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th translate="entity.action.actions" class="col-md-2">Actions</th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="bloodPressure in bloodPressures track by bloodPressure.id">
                    <td><a ui-sref="bloodPressure.detail({id:bloodPressure.id})">{{bloodPressure.timestamp | date:'short'}}</a></td>
                    <td>{{bloodPressure.systolic}}</td>
                    <td>{{bloodPressure.diastolic}}</td>
                    <td>{{bloodPressure.user.login}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="bloodPressure.detail({id:bloodPressure.id})"
                                    class="btn btn-info btn-sm" uib-tooltip="{{'entity.action.view' | translate}}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bloodPressure.edit({id:bloodPressure.id})"
                                    class="btn btn-primary btn-sm" uib-tooltip="{{'entity.action.edit' | translate}}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bloodPressure.delete({id:bloodPressure.id})"
                                    class="btn btn-danger btn-sm" uib-tooltip="{{'entity.action.delete' | translate}}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
