<div>
    <div>
        <div class="row">
            <div class="col-xs-4">
                <h2 translate="21pointsApp.weight.home.title">Weights</h2>
            </div>
            <div class="col-xs-8 text-right" style="margin-top: 20px;">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{'entity.action.search' | translate}}">
                        <button class="btn btn-info" ng-click="search()" uib-tooltip="{{'entity.action.search' | translate}}"><span class="glyphicon glyphicon-search"></span></button>
                        <button class="btn btn-primary" ui-sref="weight.new" uib-tooltip="{{'entity.action.new' | translate}}"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <jh-alert></jh-alert>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="timestamp"><span translate="21pointsApp.weight.timestamp">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weight"><span translate="21pointsApp.weight.weight">Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="21pointsApp.weight.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th translate="entity.action.actions" class="col-md-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="weight in weights track by weight.id">
                    <td><a ui-sref="weight.detail({id:weight.id})">{{weight.timestamp | date:'short'}}</a></td>
                    <td>{{weight.weight}}</td>
                    <td>{{weight.user.login}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="submit"
                                    ui-sref="weight.detail({id:weight.id})"
                                    class="btn btn-info btn-sm" uib-tooltip="{{'entity.action.view' | translate}}">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="weight.edit({id:weight.id})"
                                    class="btn btn-primary btn-sm" uib-tooltip="{{'entity.action.edit' | translate}}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="weight.delete({id:weight.id})"
                                    class="btn btn-danger btn-sm" uib-tooltip="{{'entity.action.delete' | translate}}">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
